<h1>Caixa</h1>

<% total = 0 %>

<table>
	<% @cashier.each do |id, quantity| %>
		<% item = Item.find(id) %>
		<tr>
			<td><%= image_tag item.image_name, :height => "30", :width => "30%" %></td>
			<td ><%= item.name %></td>
			<td width="60"><%= quantity %></td>
			<td width="60"><%= number_to_currency item.price, :unit => "R$ " %></td>
			<td width="60"><%= number_to_currency item.price*quantity, :unit => "R$ " %></td>
		

		</tr>
		<% total += quantity * item.price %>
	<% end %>

	<tr>
		<td colspan="4">Total: </td>
		<td><%= number_to_currency total, :unit => "R$"%></td>
	</tr>

</table>