<p id="notice"><%= notice %></p>

<%= image_tag @item.image_name %>

<p>
  <strong>Nome:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%='R$'%>
  <%= @item.price %>
</p>



<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Voltar', items_path %>
