<p id="notice"><%= notice %></p>

<h1>Itens</h1>
<%= link_to 'Novo Item', new_item_path %>




<table>
  <thead>
    <tr>
     
    </tr>
  </thead>

  <style type="text/css">
    .name{
      font.size: 15pt;
      font-weight: bold;
      margin-bottom: 16px;
      margin-top: 10px;


    }

    .name a, a:hover{

       color:orange;
    }


    .description{
      margin-bottom: 10x;
    }

    .price{
      color:orange;
      font-weight: 800;
      font-size: 10pt;
      text-align: right;
    }

  </style>

  <div><%= link_to 'Caixa', :controller => :cashier, :action => :index %></div>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.image_name, :height => "60%", :width => "60%" %></td>
        <td>
          <div class= "name"><%= link_to item.name,item %></div>
          <div class= "description"><%= item.description %></div>
          
          
          <div class="links">
            <%= link_to 'Mostrar Item', item %>
            <%= link_to 'Editar', edit_item_path(item) %>
            <%= link_to 'Excluir', item, method: :delete, data: { confirm: 'Are you sure?' } %>    
          </div>
          <div class= "price"><%= number_to_currency item.price, :unit => "R$ " %></div>
          <%= link_to 'Adicionar ao Caixa', :controller => :cashier, :action => :add, :id => item %>
        </td>
      </tr>

      <tr><td colspan="2">
        <hr/>
      </td></tr>
    <% end %>
  </tbody>
</table>

<br>


